.shelf {
    display: grid;
    grid-template-columns: repeat(3, 10vh);
    grid-template-rows: repeat(3, 17vh);
    row-gap: 9vh;
    column-gap: 15vh;
    padding-top: 15vh;
    background-image: url(./images/empty-display-shelf-svgrepo-com.svg);
    background-size: 90vh 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 90vh;
    min-width: 100vh;
    justify-content: center;
    align-items: center;

}

.shelfArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookAdded {
    background-color: brown;
}