.shelf {
    display: grid;
    grid-template-columns: repeat(4, 8vh);
    grid-template-rows: repeat(5, 10vh);
    row-gap: 6.5vh;
    column-gap: 6.5vh;
    padding-top: 11vh;
    background-image: url(./images/Bookshelves-Empty.svg);
    background-size: 90vh 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 90vh;
    min-width: 100vh;
    justify-content: center;
    align-items: center;

}

.shelfArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookAdded {
    background-color: brown;
}

button {
    font-size: .5rem;
}

p{
    padding: 0;
    margin: 0;
}